.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #f9fafb;
}

.layout__body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout__main {
  flex: 1;
  overflow-y: auto;
  background: #f9fafb;
}